assemblyai
boto3
azure-ai-inference
datasets
deepgram-sdk
deepl
google-cloud-speech
google-cloud-translate
google-genai
huggingface-hub
kagglehub
matplotlib
ibm-watson
modernmt
numpy
openai
pandas
pillow
PyYAML
python-dotenv
speechmatics-batch
soundfile
torch
torchaudio
torchcodec
unbabel-comet==2.2.7
websocket-client
